<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/">smarties</a>
      <a href="/bm-posts">BM</a>
      <a href="/mdm-posts">MDM</a>
      <form action="/suche" method="get" class="suche">
        <input type="text" placeholder="..." name="search" />
        <button type="submit">Suchen</button>
      </form>
      <a href="/profile" class="profile-button">
        <img src="profilbild.jpg" alt="Profilbild" />
      </a>
    </header>

    <div>
      {{{body}}}
    </div>

    <footer>
      <a href="/">smarties</a>
      <a href="/bm-posts">BM</a>
      <a href="/mdm-posts">MDM</a>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>