<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>

    <div class="grid-bm">

      <div class="bm-post">
        <img src="../Projekte/bilder/Bildmarke_AudigeCelia-04.png" alt="" />
        <h2>Post</h2>
        <p>
          Kommentar
        </p>

      </div>
    </div>

  </body>

</html>