<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="login-register">

      <div class="login">
        <h2>Anmelden</h2>

        <form action="/login" enctype="multipart/form-data" method="POST">
          Benutzername:
          <input name="username" type="text" /><br />
          Passwort:
          <input name="password" type="password" /><br />
          <input type="submit" value="Anmelden" />
        </form>
        <!-- <a href="/register" class="button">Registrieren</a> -->
      </div>
      <div class="registrieren">
        <h2>Registrieren</h2>

        <form action="/register" method="POST">
          E-Mail:
          <input name="username" type="text" /><br />
          Passwort:
          <input name="password" type="password" /><br />
          <input type="submit" value="Registrieren" />
        </form>
      </div>

    </div>

  </body>

</html>