

<form action="/create_post" enctype="multipart/form-data" method="post">
  <input type="title" name="title" />
  <input type="file" name="picture" />
  <input type="text" name="text" />
  <select id="type" name="type">
    <option value="BM">BM</option>
    <option value="MDM">MDM</option>
  </select>
  <input type="file" name="file"/>
  <input type="submit" value="Erstellen"/>
</form>

