<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/">Logo</a>
      <a href="/">BM</a>
      <a href="/">MDM</a>
      <form action="/suche" method="get">
        <input type="text" placeholder="Suche..." name="search" />
        <button type="submit">Suchen</button>
      </form>
      <a href="/profil" class="profile-button">
        <img src="profilbild.jpg" alt="Profilbild" />
      </a>
    </header>

    {{{body}}}

    <footer>
      <a href="/">Logo</a>
      <a href="/">BM</a>
      <a href="/">MDM</a>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>