<div class="newpost">
  <h2>Post erstellen</h2>
  <form
    class="inputs-post"
    action="/create_post"
    enctype="multipart/form-data"
    method="post"
  >
    Titel:
    <input type="title" name="title" />
    <br />
    Upload Image:<input type="file" name="picture" />
    <br />
    Beschreibung:<input type="text" name="text" />
    <br />
    Select:<select id="type" name="type">
      <option value="BM">BM</option>
      <option value="MDM">MDM</option>
    </select>
    <br />
    Upload File:<input type="file" name="file" />
    <br />
    <input type="submit" value="Erstellen" />
  </form>

</div>