<!-- Favoriten können nur über Datenbank erfasst werden und nicht direkt über den Post. -->

<div class="start">
{{> favorites}}

    <div class="grid-bm">

    {{#posts}}
      {{> post}}
    {{/posts}}
    </div>

</div>