<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>

    posts, favorites, if nothing login link

    <a href="login.handlebars">Login</a>
    <h3>register</h3>

  </body>

</html>