<h1>Am Beliebtesten</h1>

<div class="start">
<div>
{{> favorites}}
</div>
<div class="slider-container">
        <button class="nav-button prev">&#9664;</button>
        <div class="slider">
          {{#posts}}
            {{> post}}
          {{/posts}}

        </div>
        <button id="next-post-button" onclick="moveNextPost" class="nav-button next">&#9654;</button>
    </div>

</div>

<div class="button-erstellen">
  <a href="/newpost">
    <p>+ Erstellen</p>
  </a>
</div>

<div class="contactform">
  {{> contactform}}
</div>

<script>
  function moveNextPost(){

  }
</script>