<h1>Am Beliebtesten</h1>

<!-- <h2>Login</h2>

<form action="/login" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>
<a href="/register" class="button">Registrieren</a>

<h2>Registrieren</h2>

<form action="/register" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form> -->


<!-- <div class="mainconatiner-start">
<div class="karte">
    <div class="karte-inhalt">
    <h3>Benutzer
        <a href="benutzer"></a>
    </h3>
    <img src="coverbild" alt="">
    <h3>Titel</h3>
    <p>Kurz beschreibung</p>

</div>
</div>
</div> -->
{{> favorites}}
<div class="slider-container">
        <button class="nav-button prev">&#9664;</button>
        <div class="slider">
          {{#posts}}
            {{> post}}
          {{/posts}}

        </div>
        <button id="next-post-button" onclick="moveNextPost" class="nav-button next">&#9654;</button>
    </div>
<div class="button-erstellen">
  <a href="/newpost">
    <p>+ Erstellen</p>
  </a>
</div>

{{> contactform}}

<script>
  function moveNextPost(){

  }
</script>