* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #5b6857;
  padding: 12px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

header a {
  color: white;
  text-decoration: none;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

footer a {
  color: white;
  text-decoration: none;
}

.profile-button {
  display: inline-block;
  width: 50px; /* Größe des Profilbilds */
  height: 50px;
  border-radius: 50%; /* Rundes Bild */
  overflow: hidden; /* Überflüssiges Bild abschneiden */
  border: 2px solid #ccc; /* Optionaler Rand */
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
}

/* Profilbild selbst */
.profile-button img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Bild passt sich an, ohne das Verhältnis zu verzerren */
}

/*-------------------------------------------------------------------------------------------------
                              Startseite                                                          
--------------------------------------------------------------------------------------------------*/

.karte {
  background: #5b6857;
  color: white;
  width: 110vh;
  height: 140vh;
  border-radius: 15px;
}
.karte-inhalt img {
  height: 40%;
  width: 75%;
}
.karte-inhalt {
  padding-top: 20px;
  padding-left: 20px;
}

.grid-bm {
  padding-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: dense;
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 4%;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k l";
}

.bm-post {
  grid-area: a;
  background-color: #ca4040;
  height: 300px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bm-post img {
  width: 80%;
  padding-top: 20px;
  border-radius: 5px;
}
